// main color
$mainLight: #f9f9f9;
$mainDark: #181818;

// second color
$secondLight: white;
$secondDark: #202020;

// third color
$thirdLight: #CCCCCC;
$thirdDark: #363636;

// alt color
$altLight: #E2E2E2;
$altDark: $secondDark;

// hr
$hrLight: #DFDFDF;
$hrDark: #545454;

// show-more
$showmoreLight: #545454;
$showmoreDark: #DFDFDF;

// delete button
$deleteButton: #f05959;
$deleteButtonHover: #ff0011;
$deleteConfirmHover: #ed3434;

// form
$formLight: #202020;
$formDark: #b3b3b3;

// main button
$mainButtonLight: $formLight;
$mainButtonHoverLight: #4a4a4a;
$mainButtonDark: #707070;
$mainButtonHoverDark: #616161;

// error
$errorLight: #ff0011;
$errorDark: #f03e41;
